<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-10">
        <h2>
            {{$state.current.data.pageTitle}}
            <small>
                <i class="fa fa-angle-double-right"></i>
                {{$state.current.data.subTitle}}
            </small>
        </h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <uib-tabset type="bareheaded" active="activeTab">
        <uib-tab heading="table" index="0">
            <div ng-include="$state.current.data.datatable"/>
        </uib-tab>
        <uib-tab heading="editor" index="1">
            <div ng-include="$state.current.data.editor || 'assets/mvc/desktop/view/basic_editor.html'"/>
        </uib-tab>
        <uib-tab heading="table" index="2">
            <div ng-include="$state.current.data.other1"/>
        </uib-tab>
        <uib-tab heading="table" index="3">
            <div ng-include="$state.current.data.other2"/>
        </uib-tab>
    </uib-tabset>
</div>
